body{
	font: 12px Helvetica, Arial, sans-serif; 
	color:#000000; 
	height: 100%; 
	clear: both;
	display: table; 
	border-top: none; 
	border-bottom: none; 
	margin:auto; 
	text-align:left;
	background-image: url("../images/background.png");
}

a{
	cursor: default;
	color:#000000;
	font: Helvetica, Arial, sans-serif; 
	text-decoration: none;
}
div.main{
	background-color: #f8f8f8;
	width: 1000px;
	height: 800px;
	margin: 0 auto;
	border: 1px solid #CCC;
}

div.topo{
	width: 1000px;
	height: 200px;
	border-bottom: 1px solid #CCC;
}

div.logo{
	display: inline-block;
	width: 400px;
	height: 190px;
	margin-top: 5px;
	margin-left: 20px;
	float: left;
	background-image: url("../images/logo1.png");
}

div.info{
	display: inline-block;
	width: 400px;
	height: 190px;
	float: right;
	border: 1px solid #EFEFEF;
}

div.conteudo{
	float: left;
	overflow: auto;
	width: 730px;
	height: 480px;
	margin-top: 10px;
	margin-left: 25px;
	padding: 10px;
	border: 1px solid #f8f8f8;
}

div.itemTec{
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 1px solid #CCC;
	text-align: justify;
	vertical-align: middle;
	
}

h1.tituloPagina{
	font-size: 24px;
	font-weight: bold;
	color: #2d2d2d;
}

div.menu {
	float: right;
	width: 180px;
	height: 250px;
	font: 16px Segoe UI;
	margin-top: 10px;
	margin-right: 25px;
	opacity:.7;
	background-color: #000;
	color: #FFF;
	line-height: 40px;

	/* background-color: #333;*/
	-webkit-box-shadow: 0 0 10px #000;
	   -moz-box-shadow: 0 0 10px #000;
		 -o-box-shadow: 0 0 10px #000;
			box-shadow: 0 0 15px #000;
}

ul.listMenu{
	list-style-position: inside;
	list-style-type: none;
	padding: 0px;
}
li.itemMenu {
	
}
li.itemMenu:hover{
	background: #0a0a0a;
	border-left: 3px solid #4682B4;
}
li.selected{
	border-left: 3px solid #4682B4;
}

div.rodape{
	width: 1000px;
	height: 200px;
	margin-top: 20px;
	padding-top: 15px;
	clear: both;
	background-image: url("../images/footer-shadow.png");
	background-repeat: no-repeat;
	background-position: center;
}

/*  CSS do carrossel das infos  */

 #slides {
	display: none
}

#slides .slidesjs-navigation {
	margin-top:5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
	background-image: url("../images/btns-next-prev.png");
	background-repeat: no-repeat;
	display:block;
	width:12px;
	height:18px;
	overflow: hidden;
	text-indent: -9999px;
	float: left;
	margin-right:5px;
}

a.slidesjs-next {
	margin-right:10px;
	background-position: -12px 0;
}

a:hover.slidesjs-next {
  background-position: -12px -18px;
}

a.slidesjs-previous {
  background-position: 0 0;
}

a:hover.slidesjs-previous {
  background-position: 0 -18px;
}

a.slidesjs-play {
  width:15px;
  background-position: -25px 0;
}

a:hover.slidesjs-play {
  background-position: -25px -18px;
}

a.slidesjs-stop {
  width:18px;
  background-position: -41px 0;
}

a:hover.slidesjs-stop {
  background-position: -41px -18px;
}

.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url("../images/pagination.png");
	background-position: 0 0;
	float: left;
	overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}	